HTML, BODY {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  font-family:sans-serif;
  text-align:center;
}

#app {
  font-size:16px;
}

#optinSwitchDiv {
  padding: 1em;
  background-color: lightgray;
  text-align: center;
}

#eventList DIV {
  line-height:3em;
  height:3em;
  color:white;
  text-transform:uppercase;
  font-weight:bold;
  font-size:150%;
}

#eventList .firstVisit        {background-color:#0090FF;}
#eventList .firstVisit:hover  {background-color:#A8CEEC;}
#eventList .newsRead          {background-color:#10ACFF;}
#eventList .newsRead:hover    {background-color:#66C8FC;}
#eventList .gameOver          {background-color:#63C0F2;}
#eventList .gameOver:hover    {background-color:#8DCFF3;}
#eventList .like              {background-color:#ACD0E4;}
#eventList .like:hover        {background-color:#D0CFCF;}
#eventList .addToCart         {background-color:#959595;}
#eventList .addToCart:hover   {background-color:#B3B2B2;}
#eventList .purchase          {background-color:#333333;}
#eventList .purchase:hover    {background-color:#555454;}
#eventList .geofencing        {background-color:#009966;}
#eventList .geofencing:hover  {background-color:#43957A;}
#eventList .inactivity        {background-color:#DE7171;}
#eventList .inactivity:hover  {background-color:#C26868;}
#eventList .genderMale        {background-color:#DE7171;}
#eventList .genderMale:hover  {background-color:#C26868;}
#eventList .genderFemale      {background-color:#DE7171;}
#eventList .genderFemale:hover{background-color:#C26868;}
